<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="utf-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--    <title>duokong.info</title>-->
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">-->

<!--</head>-->
<!--<body>-->
<!--<section class="section">-->
<!--    <div class="container">-->
<!--        <div class="box">-->
<!--            <article class="media">-->
<!--                <div class="media-left">-->
<!--                    <figure class="image is-128x128">-->
<!--                        <img src="/images/wx.jpg" alt="Weixin">-->
<!--                    </figure>-->
<!--                </div>-->
<!--                <div class="media-content">-->
<!--                    <div class="content">-->
<!--                        <p>-->
<!--                            <strong>BlockD</strong>-->
<!--                            <br>-->
<!--                            遇到问题可以扫码联系微信-->
<!--                        </p>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </article>-->
<!--        </div>-->
<!--    </div>-->


<!--</section>-->
<!--<section class="section">-->
<!--    <div class="container">-->

<!--        <p class="control ">-->
<!--            <button class="button" >-->
<!--                <a href="http://duokong.info/3" target="_blank">去刷图</a>-->
<!--            </button>-->
<!--        </p>-->
<!--    </div>-->


<!--</section>-->

<!--</body>-->
<!--</html>-->