<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>刷图</title>
    <link rel="stylesheet" href="/css/bulma.min.css">
    <link rel="stylesheet" href="/css/bulma-switch.min.css">
    <link rel="stylesheet" href="/css/bulma-tooltip.min.css">
    <script src="/js/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/js/tv/lightweight-charts.standalone.production.v4.0.1.js"></script>
    <script src="/js/tv/tv-option.js"></script>
    <script src="/js/tv/api.js"></script>
    <script src="/js/tv/pressKey.js"></script>
    <script src="/js/tv/tv-api.js"></script>

    <style>
        .legend {
            position: absolute;
            right: 150px;
            top: 100px;
            text-align: right;
            z-index: 1;
            font-size: 16px;
            line-height: 18px;
            font-weight: 300;
            font-family: "Courier New", Courier, monospace;
        }

        .section {
            padding: 1rem;
        }
    </style>
</head>

<body>
<section class="section">
    <div class="columns">
        <div class="column is-1">
            <div id="iSelectType" class="control select is-danger">
                <select id="iStockTypeOption" onchange="selectType()">
                    <!--                    <option value="p7">p7</option>-->
                    <!--                    <option value="zp7">zp7</option>-->
                    <!--                    <option value="all_index">all指数</option>-->
                    <!--                    <option value="all_index_v60">all指数(v60<1.5亿)</option>-->
                    <!--                    <option value="all">all</option>-->
                    <!--                    <option value="all_v60">all(v60<1.5亿)</option>-->
                    <!--                    <option value="zuijin">最近</option>-->
                    <!--                    <option value="other">其他</option>-->
                    <!--                    <option value="ZT">涨停板</option>-->
                    <!--                    <option value="hk">hk</option>-->
                    <!--                    <option value="amtMa60">5倍AmtMa60</option>-->
                    <!--                    <option value="Tshadow">上影线</option>-->
                    <!--                    <option value="Kcross">穿越均线</option>-->
                    <!--                    <option value="longMost">一年内最大涨幅</option>-->
                    <!--                    <option value="longMostRecent">一年内最大涨幅(今日收盘)</option>-->
                    <!--                    <option value="shortMost">一年内最大跌幅</option>-->
                    <!--                    <option value="shortMostRecent">一年内最大跌幅(今日收盘)</option>-->
                    <!--                    <option value="icyb">创业成分</option>-->
                    <!--                    <option value="i300">沪深300</option>-->
                    <!--                    <option value="i500">中证500</option>-->
                    <!--                    <option value="i1000">中证1000</option>-->
<!--                    <option value="kc50">科创50</option>-->
                </select>
            </div>
        </div>
        <div class="column is-3">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field ">

                        <p class="control" hidden>
                            <input class="input" id="iCC" type="text" hidden>
                        </p>
                    </div>
                    <div class="field ">

                        <p class="control">
                            <input class="input" id="iCode" type="text">
                        </p>
                    </div>
                    <div class="field ">

                        <p class="control">
                            <input class="input" id="iName" type="text">
                        </p>
                    </div>
                    <div class="field ">

                        <p class="control">
                            <input class="input" id="iIndex" type="text">
                        </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="column is-3">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field ">
                        <p class="control">
                            <button class="button has-tooltip-right" onclick="setIndex()" data-tooltip="快捷键[n]"
                                    id="iSet">
                                set
                            </button>
                        </p>
                    </div>
                    <div class="field ">
                        <p class="control">
                            <button class="button has-tooltip-right" onclick="next()" data-tooltip="快捷键[n]"
                                    id="iBtnChart">
                                后
                            </button>
                        </p>
                    </div>
                    <div class="field ">
                        <p class="control">
                            <button class="button has-tooltip-right" onclick="pre()" data-tooltip="快捷键[n]"
                                    id="iBtnChartPre">
                                前
                            </button>
                        </p>
                    </div>
                    <div class="field ">
                        <p class="control">
                            <button class="button has-tooltip-right" id="saveButton">
                                截图
                            </button>
                        </p>
                    </div>
                    <div class="field ">
                        <p class="control">
                            <button class="button" id="iBtnXueqiu">
                                <a href="#" id="iLinkxq" target="_blank">雪球</a>
                            </button>
                        </p>
                    </div>
                    <div class="field ">
                        <p class="control">
                            <button class="button is-hidden" id="iBtnFenshi">
                                <a href="#" id="iLinkFenshi" target="_blank">Fenshi</a>
                            </button>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="column is-3">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <a class="button is-static">
                                    高
                                </a>
                            </p>
                            <p class="control ">
                                <input class="input" type="text" id="iHigh" placeholder="">
                            </p>
                            <p class="control">
                                <a class="button is-static">
                                    低
                                </a>
                            </p>
                            <p class="control">
                                <input class="input" type="text" id="iLow" placeholder="">
                            </p>

                            <p class="control">
                                <button class="button is-static" id="iBtnCalc">
                                    =
                                </button>
                            </p>
                            <p class="control is-expanded">
                                <input class="input" type="text" id="iRes" placeholder="">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="field is-horizontal">
                <div class="field-body">
                    <div class="field ">
                        <p class="control" hidden>
                        <div class="field has-tooltip-right" hidden data-tooltip="快捷键[,]">
                            <input id="iMAUpDn" type="checkbox" name="swMAupdn" class="switch is-rounded is-danger"
                                   checked="checked">
                            <label for="iMAUpDn">pct</label>
                        </div>
                        </p>
                    </div>
                    <div class="field ">
                        <p class="control">
                        <div class="field has-tooltip-right" data-tooltip="快捷键[m]">
                            <input id="iMA" type="checkbox" name="swMA" class="switch is-rounded is-danger"
                                   checked="checked">
                            <label for="iMA">MA</label>
                        </div>
                        </p>
                    </div>
                    <div class="field ">
                        <p class="control">
                        <div class="field has-tooltip-right" data-tooltip="快捷键[k]">
                            <input id="iK" type="checkbox" name="swK" class="switch is-rounded is-danger"
                                   checked="checked">
                            <label for="iK">K</label>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
<section>
    <div id="charts"></div>
</section>

<section>

    <br>
    <div class="container">

        <div class="field is-grouped is-grouped-multiline" id="iTag">
        </div>

    </div>
</section>

<script type="text/javascript">
    <!--    初始化tv chart     -->
    const W = 10000;
    const Y = W * W;
    let STOCK_LIST = {};
    let SELECT_LIST = [];
    let index = 0;


    const chart = LightweightCharts.createChart(
        document.getElementById('charts'), getChartOption()
    );


    //析构数据 initChart(chart);
    const {
        kSeries,
        ma5Series,
        ma10Series,
        ma20Series,
        ma30Series,
        ma60Series,
        ma120Series,
        ma250Series,
        upSeries,
        dnSeries,
        volumeSeries,
        ma5VolumeSeries,
        ma60VolumeSeries,
        pctSeries,
        hslSeries,
        ma5HslSeries,
        ma60HslSeries,
        oscSeries,
        ma5OscSeries,
        ma60OscSeries,
    } = initChart(chart);


    getStockList(function (data) {
        STOCK_LIST = data;
    })

    getStockType(function (data) {
        //渲染 option 列表
        for (const [key, value] of Object.entries(data)) {
            const option = document.createElement('option');
            option.value = key;
            option.innerText = value;
            $('#iStockTypeOption').append(option)
        }

        // 获取select元素
        let select = document.getElementById("iStockTypeOption");
        // 获取所有Option元素
        let options = select.options;
        // 将Option元素的innerText存储在一个数组中
        let optionTexts = [];

        for (let i = 0; i < options.length; i++) {
            optionTexts.push(options[i].innerText + "#" +options[i].value);
        }
        // 对数组进行排序
        optionTexts.sort();
        // 将排序后的Option元素重新插入到select元素中
        select.innerHTML = "";
        for (let i = 0; i < optionTexts.length; i++) {
            let option = document.createElement("option");
            let ss = optionTexts[i].split("#");
            option.innerText = ss[0];
            option.value = ss[1];
            select.appendChild(option);
        }
    });

    legend();


</script>
</body>

</html>
